/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

$gray-color: #EEF0F2;
$black-color: #1C1C1C;
$blue-highlight: #2ec4b6;

body {
  background-color: $gray-color;

  .card {
    border-radius: 0;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cardSep {
      color: $blue-highlight;
    }
  }

  .btn-primary {
    background-color: $black-color;
    border-color: $black-color;
    border-radius: 0;
    width: 50%;
  }

  .btn-primary:hover {
    background-color: #DADDD8;
    border-color: $black-color;
    color: $black-color;
  }

  .createdBy {
    display: flex;
    align-items: center;
    color: #888888;
    padding: 10px 0;

    .createdByImg {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    * {
      margin: 0 2.5px;
    }
  }
}

.recipeImg {
  width: auto;
  height: 200px;
  object-fit: cover;
}
